<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">STUDYH</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {{#if isSubjects}}
        <li class="active"><a href="/subjects">Subjects</a></li>
      {{else}}
        <li><a href="/subjects">Subjects</a></li>
      {{/if}}

      {{#if isAdd}}
        <li class="active"><a href="/add">Add</a></li>
      {{else}}
        <li><a href="/add">Add</a></li>
      {{/if}}

      {{#if isList}}
        <li class="active"><a href="/list">My subjects</a></li>
      {{else}}
        <li><a href="/list">My subjects</a></li>
      {{/if}}

      {{#if isLogin}}
        <li class="active"><a href="/auth/login">Log in</a></li>
      {{else}}
        <li><a href="/auth/login">Log in</a></li>
      {{/if}}
    </ul>
  </div>
</nav>