<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">STUDYH</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Subjects</a></li>
      <li><a href="/add">Add</a></li>
      <li><a href="/">My subject</a></li>
    </ul>
  </div>
</nav>