<div class="subject">
  <h1>{{subject.name}}</h1>
  <img src="https://www.shutterstock.com/shutterstock/photos/1011745894/display_1500/stock-vector-open-book-with-education-science-hand-drawn-doodles-on-teal-background-education-vector-1011745894.jpg" alt="{{subject.shorName}}">
  <p>Teacher: {{subject.teacher}}</p>
  <a href="/edit/{{subject.id}}" class="btn btn-primary">Edit</a>
</div>