.nav-wrapper {
  padding: 0 2rem;
  background-color: rgb(99, 23, 165);
}

.subject {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.subject p {
  font-size: 24px;
}

.subject img {
  width: 33%;
}

.card-action.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-group {
  display: flex;
}

.btn-group a {
  margin-right: 10px;
}

.delete-form {
  margin-top: 2rem;
}